.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  display: flex;
  margin: auto;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-bottom: 20px;

}

.type-writter-text {
  display: flex;
  justify-content: center;
}

.about-container {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 150px;
  font-family: "Red Hat Mono", monospace;
  font-optical-sizing: auto;
}

.about-left-container {
  height: auto;
  width: 30%;
}

.info-container {
  display: flex;
  margin: 10px 0px;
  font-size: 20px;
  
}

.about-right-container {
  height: auto;
  width: 70%; 
}

.hello-heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-description{
  font-size: 20px;
  line-height: 30px;
}

.focus-cards-container{
  margin-top: 50px;
}

.about-description , .info-details{
  opacity: 70%;
}

