.resume-container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.resume-btn{
    background-color: #fff;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    height: 100px;
    width: 250px;
}

.resume-btn:hover{
    background-color: #333;
    color: #fff;
}